@use "../utils/fonts" as *;

$breakpoints: (
  "md": 560px,
  "lg": 756px,
  "xl": 992px,
  "xxl": 1400px,
);

@mixin breakpoint-up($size) {
  @media (width >= map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (width < map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin accent-title {
  margin: -4px 0 4px 0;
  font-family: $font-accent;
  font-weight: 400;
  opacity: 0.85;

  @include breakpoint-up(md) {
    margin: 0;
  }
}
