:root {
  --button-min-height: 48px;
  --button-background-color: transparent;
  --button-text-color: transparent;
  --button-icon-content: none;
  --button-icon-size: 24px;
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  outline: 2px solid transparent;
  min-height: var(--button-min-height);
  border-radius: 36px;
  border: none;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  gap: 8px;
  font-size: 16px;
  transition: all linear 0.15s;
  cursor: pointer;

  &::before,
  &::after {
    content: var(--button-icon-content);
    height: var(--button-icon-size);
    width: var(--button-icon-size);
    background-color: var(--button-text-color);
    mask-image: var(--button-icon-url);
    mask-size: var(--button-icon-size);
    transition: all linear 0.2s;
  }

  &--prim {
    --button-background-color: var(--clr-beige-05);
    --button-text-color: var(--clr-brown);

    @media (hover: hover) {
      &:hover {
        --button-background-color: var(--clr-beige-05-med);
      }
    }
  }

  &--sec {
    --button-background-color: var(--clr-terracota);
    --button-text-color: var(--clr-beige-01);

    @media (hover: hover) {
      &:hover {
        --button-background-color: var(--clr-terracota-dark);
      }
    }
  }

  &--icon-only {
    padding: 8px;
    aspect-ratio: 1 / 1;

    &::before {
      --button-icon-content: "";
    }
  }

  &--icon-before {
    &::before {
      --button-icon-content: "";
    }
  }

  &--icon-after {
    &::after {
      --button-icon-content: "";
    }
  }

  &--mini {
    padding: 2px;
    --button-min-height: 32px;
    --button-icon-size: 20px;
  }

  &--clear {
    --button-icon-url: url("../icons/clear.svg");
  }

  &--show-filters,
  &--show-recipes {
    --button-icon-url: url("../icons/chevron-down.svg");

    &.open {
      &:after,
      &::before {
        transform: scaleY(-1);
      }
    }
  }

  &--plan {
    --button-icon-url: url("../icons/plan.svg");
  }

  &--trash {
    --button-icon-url: url("../icons/trash.svg");
  }
}
