@use "../utils/mixins" as *;

:root {
  --input-width: auto;
  --input-min-height: 48px;
  --input-padding: 8px 16px;
  --input-action-btn-size: 40px;
  --input-action-icon-size: 60%;
}

.input {
  display: grid;
  gap: 4px;
  width: var(--input-width);

  &--amount {
    --input-lead-img-url: url("../icons/minus.svg");
    --input-trail-img-url: url("../icons/plus.svg");
    --input-width: 150px;

    input {
      text-align: center;
    }
  }

  &__wrap {
    position: relative;
    min-height: var(--input-min-height);
    background-color: var(--clr-white);
    border: 1px solid var(--clr-brown);
    border-radius: 36px;
    overflow: hidden;
    display: flex;
    align-items: center;

    &:has(.input__action--lead) {
      --input-padding: 8px 16px 8px 56px;
    }
    &:has(.input__action--trail) {
      --input-padding: 8px 56px 8px 16px;
    }
    &:has(.input__action--lead):has(.input__action--trail) {
      --input-padding: 8px 56px;
    }
  }

  &__input {
    appearance: none;
    max-width: 100%;
    flex: 1;
    padding: var(--input-padding);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;

    &::placeholder {
      color: var(--clr-sage-dark);
    }
  }

  &__action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: var(--input-action-btn-size);
    width: var(--input-action-btn-size);
    border-radius: 50%;
    border: none;
    background-color: var(--clr-sage-light);
    background-size: var(--input-action-icon-size);
    background-position: center;
    background-repeat: no-repeat;
    transition: all linear 0.1s;
    outline: 2px solid transparent;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: var(--clr-sage-med);
      }
    }

    &:focus-visible {
      outline-color: var(--clr-sage-dark);
    }

    &:disabled {
      &,
      &:hover,
      &:focus-visible {
        opacity: 0.3;
        cursor: default;
        background-color: var(--clr-white);
      }
    }

    &--lead {
      left: 4px;
      background-image: var(--input-lead-img-url);
    }

    &--trail {
      right: 4px;
      background-image: var(--input-trail-img-url);
    }
  }
}
