@use "../utils/mixins" as *;

.search {
  display: grid;
  gap: 4px;

  &__wrap {
    position: relative;
    min-height: 48px;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-brown);
    border-radius: 36px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__input {
    appearance: none;
    max-width: 100%;
    flex: 1;
    padding: 8px 52px 8px 16px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;

    &::placeholder {
      color: var(--clr-sage-dark);
    }
  }

  &__action {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-sage-light);
    background-image: url("../icons/magnifying-glass.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all linear 0.1s;
    outline: 2px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: var(--clr-sage-med);
    }

    &:focus-visible {
      outline-color: var(--clr-sage-dark);
    }
  }
}
