@use "../utils/mixins" as *;
@use "../utils/fonts" as *;

.weekly-menu {
  --input-min-height: 36px;
  --input-action-btn-size: 28px;
  --input-action-icon-size: 80%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-content: center;
  width: min(100%, 500px);
  margin: 0 auto;

  @include breakpoint-up(xl) {
    width: 100%;
    margin: 0;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  .plan__servings-input {
    --input-width: 100px;

    input {
      --input-padding: 4px 36px;
    }
  }

  .day-menu {
    display: grid;
    gap: 4px;
    align-content: start;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--clr-beige-01);
    border: 1px solid var(--clr-beige-02);
    box-shadow: 1px 1px 3px 2px var(--shadow-grey);
    --input-lead-img-url: url("../icons/minus.svg");
    --input-trail-img-url: url("../icons/plus.svg");

    &--empty {
      place-content: center;
      padding: 36px;
      color: var(--clr-beige-02);
      font-size: 20px;
      border: 1px var(--clr-beige-02) dashed;
      opacity: 0.7;
    }

    &__title {
      font-family: $font-accent;
      font-size: 24px;
      margin: 0 0 4px 0;
      opacity: 0.8;

      @include breakpoint-up(md) {
        margin: 0;
      }
    }

    &__entry,
    &__heading {
      align-items: center;
      padding: 6px;
      border-radius: 4px;
      background-color: var(--clr-white);
      display: flex;
      gap: 8px;
      justify-content: space-between;
      border: 1px solid var(--clr-beige-02);
    }

    &__heading {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &__recipe-title {
      font-weight: 500;
    }

    &__servings {
      align-self: flex-end;

      @include breakpoint-up(md) {
        align-self: unset;
      }

      span {
        font-weight: 600;
      }
    }
  }
}
