:root {
  // theme colors
  --clr-white: white;
  --clr-coffee: #432818;
  --clr-terracota: #6f1d1b;
  --clr-caramel: #99582a;
  --clr-camel: #bb9457;
  --clr-cream: #ffe6a7;
  --clr-sage: #b8d5c8;
  --clr-sage-dark: #a4c2b4;

  --clr-beige-bg: #fafaf6;
  --clr-beige-01: #edede9;
  --clr-beige-02: #d6ccc2;
  --clr-beige-03: #f5ebe0;
  --clr-beige-04: #e3d5ca;
  --clr-beige-05: #ceb4a5;

  --clr-blue-01: #eef9ff;
  --clr-blue-02: #778da9;
  --clr-blue-03: #415a77;
  --clr-blue-04: #0d1b2a;

  --shaodw-grey: #55555585;
}
