:root {
  // theme colors
  --clr-white: white;
  --clr-brown: #1c0808;
  --clr-terracota: #6f1d1b;
  --clr-terracota-dark: #520d0c;
  --clr-lavender: #b8c0d5;
  --clr-lavender-dark: #a8b6d7;
  --clr-rose: #e79292;
  --clr-rose-light: #fcf4f4;
  --clr-cream: #ffd468;
  --clr-sage: #b8d5c8;
  --clr-sage-light: #eef9f4;
  --clr-sage-med: #daede5;
  --clr-sage-dark: #a4c2b4;

  --clr-beige-bg: #fafaf6;
  --clr-beige-01: #edede9;
  --clr-beige-02: #d6ccc2;
  --clr-beige-03: #f5ebe0;
  --clr-beige-04: #e3d5ca;
  --clr-beige-05: #ceb4a5;

  --shadow-grey: #55555533;
}
