@use "../utils/mixins" as *;

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  background-color: var(--clr-beige-bg);
  color: var(--clr-brown);
}

main {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 2rem;

  @include breakpoint-up(lg) {
    width: 90vw;
  }

  @include breakpoint-up(xxl) {
    width: 80vw;
  }
}

.recipe-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 16px;

  @include breakpoint-up(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint-up(xl) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }

  @include breakpoint-up(xxl) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
