*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --clr-white: white;
  --clr-brown: #1c0808;
  --clr-terracota: #6f1d1b;
  --clr-terracota-dark: #520d0c;
  --clr-lavender: #b8c0d5;
  --clr-lavender-dark: #a8b6d7;
  --clr-rose: #e79292;
  --clr-rose-light: #fcf4f4;
  --clr-cream: #ffd468;
  --clr-sage: #b8d5c8;
  --clr-sage-light: #eef9f4;
  --clr-sage-med: #d0ebe0;
  --clr-sage-dark: #a4c2b4;
  --clr-beige-bg: #fafaf6;
  --clr-bg-sec: #1a0913;
  --clr-beige-01: #edede9;
  --clr-beige-02: #d6ccc2;
  --clr-beige-03: #f5ebe0;
  --clr-beige-04: #e3d5ca;
  --clr-beige-05: #ceb4a5;
  --clr-beige-05-med: #bfa18f;
  --shadow-grey: #55555533;
}

body {
  --body-gap: 2rem;
  min-height: 100vh;
  min-height: 100dvh;
  padding: calc(var(--nav-height-counted) + var(--body-gap)) 0 0 0;
  display: flex;
  flex-direction: column;
  gap: var(--body-gap);
  justify-content: flex-start;
  background-color: var(--clr-beige-bg);
  color: var(--clr-brown);
}
body:has(.modal.visible) {
  overflow: hidden;
}

main {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 2rem;
}
@media (width >= 756px) {
  main {
    width: 90vw;
  }
}
@media (width >= 1400px) {
  main {
    width: min(80vw, 1270px);
  }
}

:root {
  --button-min-height: 48px;
  --button-background-color: transparent;
  --button-text-color: transparent;
  --button-icon-content: none;
  --button-icon-size: 24px;
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  outline: 2px solid transparent;
  min-height: var(--button-min-height);
  border-radius: 36px;
  border: none;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  gap: 8px;
  font-size: 16px;
  transition: all linear 0.15s;
  cursor: pointer;
}
.button::before, .button::after {
  content: var(--button-icon-content);
  height: var(--button-icon-size);
  width: var(--button-icon-size);
  background-color: var(--button-text-color);
  -webkit-mask-image: var(--button-icon-url);
          mask-image: var(--button-icon-url);
  -webkit-mask-size: var(--button-icon-size);
          mask-size: var(--button-icon-size);
  transition: all linear 0.2s;
}
.button--prim {
  --button-background-color: var(--clr-beige-05);
  --button-text-color: var(--clr-brown);
}
@media (hover: hover) {
  .button--prim:hover {
    --button-background-color: var(--clr-beige-05-med);
  }
}
.button--sec {
  --button-background-color: var(--clr-terracota);
  --button-text-color: var(--clr-beige-01);
}
@media (hover: hover) {
  .button--sec:hover {
    --button-background-color: var(--clr-terracota-dark);
  }
}
.button--icon-only {
  padding: 8px;
  aspect-ratio: 1/1;
}
.button--icon-only::before {
  --button-icon-content: "";
}
.button--icon-before::before {
  --button-icon-content: "";
}
.button--icon-after::after {
  --button-icon-content: "";
}
.button--mini {
  padding: 2px;
  --button-min-height: 32px;
  --button-icon-size: 20px;
}
.button--clear {
  --button-icon-url: url("../icons/clear.svg");
}
.button--show-filters, .button--show-recipes {
  --button-icon-url: url("../icons/chevron-down.svg");
}
.button--show-filters.open:after, .button--show-filters.open::before, .button--show-recipes.open:after, .button--show-recipes.open::before {
  transform: scaleY(-1);
}
.button--plan {
  --button-icon-url: url("../icons/plan.svg");
}
.button--trash {
  --button-icon-url: url("../icons/trash.svg");
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: var(--clr-sage);
  border-bottom: 1px solid var(--clr-sage-dark);
  box-shadow: 1px 1px 3px 2px var(--shadow-grey);
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
@media (width >= 756px) {
  nav {
    padding: 8px 16px;
  }
}
nav .nav-btn {
  height: 40px;
  width: 40px;
  margin: 8px;
  background-color: transparent;
  background-image: url("../icons/menu.svg");
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background-color linear 0.1s;
  cursor: pointer;
}
@media (hover: hover) {
  nav .nav-btn:hover {
    background-color: var(--clr-sage-dark);
  }
}
@media (width >= 756px) {
  nav .nav-btn {
    display: none;
  }
}
nav .nav-logo {
  padding: 6px 16px;
  font-family: "Coiny", system-ui;
  font-size: 36px;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
  transition: background-color linear 0.1s;
  cursor: pointer;
}
@media (width >= 756px) {
  nav .nav-logo {
    border-radius: 8px;
  }
}
@media (hover: hover) {
  nav .nav-logo:hover {
    background-color: var(--clr-sage-dark);
  }
}
nav .nav-logo::before {
  content: "";
  background-image: url("../illustrations/logo/logo.png");
  height: 42px;
  width: 48px;
  background-repeat: no-repeat;
  background-size: contain;
}
nav .nav-logo span {
  display: none;
}
@media (width >= 560px) {
  nav .nav-logo span {
    display: inline;
  }
}
nav .nav-menu {
  position: absolute;
  z-index: 1;
  top: calc(var(--nav-height-counted) - 1px);
  right: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: var(--clr-sage);
  transition: max-height linear 0.3s;
  list-style: none;
}
@media (width >= 756px) {
  nav .nav-menu {
    max-height: none;
    width: auto;
    position: static;
    display: flex;
    align-items: center;
    border: none !important;
  }
}
nav .nav-menu.opened {
  max-height: 500px;
  border-bottom: 1px solid var(--clr-sage-dark);
}
nav .nav-item {
  text-align: end;
  padding: 12px;
  height: 100%;
  font-size: 18px;
  transition: background-color linear 0.1s;
  cursor: pointer;
}
@media (hover: hover) {
  nav .nav-item:hover {
    background-color: var(--clr-sage-dark);
  }
}
@media (width >= 756px) {
  nav .nav-item {
    border-radius: 8px;
  }
}
@media (width >= 992px) {
  nav .nav-item {
    padding: 16px;
    font-size: 20px;
    border-radius: 8px;
  }
}
nav .nav-item a {
  color: inherit;
  text-decoration: none;
}

footer {
  margin: auto 0 0 0;
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  background-color: var(--clr-terracota);
  color: var(--clr-beige-04);
  text-align: center;
}
footer p {
  line-height: 1.3;
}

.tag {
  padding: 4px 8px;
  border-radius: 20px;
  border: 1px solid var(--clr-sage-dark);
  background-color: var(--clr-sage-light);
}
.tag--picker {
  --tag-marker-check-icon: none;
  --tag-background-color: var(--clr-sage-light);
  padding: 8px 12px 8px 8px;
  border-radius: 20px;
  border: 1px solid var(--clr-sage-dark);
  background-color: var(--tag-background-color);
  display: flex;
  gap: 4px;
  align-items: center;
  transition: all linear 0.2s;
  cursor: pointer;
}
.tag--picker:has(:checked) {
  --tag-marker-check-icon: url("../icons/check.svg");
  --tag-background-color: var(--clr-sage-med);
}
.tag__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.tag__marker {
  background-color: var(--clr-white);
  height: 20px;
  width: 20px;
  border: 1px solid var(--clr-sage-dark);
  border-radius: 50%;
  background-image: var(--tag-marker-check-icon);
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

:root {
  --input-width: auto;
  --input-min-height: 48px;
  --input-padding: 8px 16px;
  --input-action-btn-size: 40px;
  --input-action-icon-size: 60%;
}

.input {
  display: grid;
  gap: 4px;
  width: var(--input-width);
}
.input--amount {
  --input-lead-img-url: url("../icons/minus.svg");
  --input-trail-img-url: url("../icons/plus.svg");
  --input-width: 150px;
}
.input--amount input {
  text-align: center;
}
.input__wrap {
  position: relative;
  min-height: var(--input-min-height);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-brown);
  border-radius: 36px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.input__wrap:has(.input__action--lead) {
  --input-padding: 8px 16px 8px 56px;
}
.input__wrap:has(.input__action--trail) {
  --input-padding: 8px 56px 8px 16px;
}
.input__wrap:has(.input__action--lead):has(.input__action--trail) {
  --input-padding: 8px 56px;
}
.input__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 100%;
  flex: 1;
  padding: var(--input-padding);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}
.input__input::-moz-placeholder {
  color: var(--clr-sage-dark);
}
.input__input::placeholder {
  color: var(--clr-sage-dark);
}
.input__action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: var(--input-action-btn-size);
  width: var(--input-action-btn-size);
  border-radius: 50%;
  border: none;
  background-color: var(--clr-sage-med);
  background-size: var(--input-action-icon-size);
  background-position: center;
  background-repeat: no-repeat;
  transition: all linear 0.1s;
  outline: 2px solid transparent;
  cursor: pointer;
}
@media (hover: hover) {
  .input__action:hover {
    background-color: var(--clr-sage);
  }
}
.input__action:focus-visible {
  outline-color: var(--clr-sage-dark);
}
.input__action:disabled, .input__action:disabled:hover, .input__action:disabled:focus-visible {
  opacity: 0.3;
  cursor: default;
  background-color: var(--clr-white);
}
.input__action--lead {
  left: 4px;
  background-image: var(--input-lead-img-url);
}
.input__action--trail {
  right: 4px;
  background-image: var(--input-trail-img-url);
}

p.error-msg {
  color: var(--clr-terracota) !important;
  font-size: 16px !important;
  width: 100%;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
p.error-msg:before {
  content: "";
  height: 16px;
  width: 16px;
  background-image: url("../icons/error.svg");
  background-size: cover;
}

.modal {
  opacity: 0;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  position: fixed;
  z-index: -100;
  justify-content: center;
  align-content: end;
  top: 0;
  left: 0;
  display: grid;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
}
@media (width >= 756px) {
  .modal {
    place-content: center;
  }
}
.modal.visible {
  opacity: 1;
}
.modal.visible .modal-body {
  transform: translateY(0);
}
.modal.in-front {
  z-index: 100;
}
.modal-backdrop {
  height: 100%;
  width: 100%;
  background-color: var(--clr-bg-sec);
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.modal-body {
  max-height: 80vh;
  width: 100vw;
  width: 100dvw;
  background-color: var(--clr-white);
  border-radius: 16px 16px 0 0;
  padding: 32px 16px;
  display: grid;
  justify-items: center;
  gap: 32px;
  text-align: center;
  transform: translateY(20px);
  transition: transform 0.2s ease-in-out;
}
@media (width >= 756px) {
  .modal-body {
    padding: 48px 64px;
    width: min(90vw, 800px);
    border-radius: 16px;
  }
}
.modal-body img {
  display: block;
  width: min(150px, 100%);
}
.modal-body h2 {
  line-height: 1.3;
  font-size: 32px;
  margin: 0 0 8px 0;
  color: var(--clr-brown);
}
.modal-body p {
  line-height: 1.3;
  font-size: 18px;
  margin: 0;
  color: var(--clr-brown);
}
.modal-content {
  display: grid;
  gap: 24px;
  justify-items: center;
  padding: 16px;
  background-color: var(--clr-beige-01);
  border-radius: 6px;
  border: 1px solid var(--clr-beige-02);
  box-shadow: 1px 1px 3px 2px var(--shadow-grey);
}
.modal-recipe-title {
  font-family: "Coiny", system-ui;
  font-size: 28px !important;
  margin: -4px 0 4px 0;
  opacity: 0.8;
}
@media (width >= 560px) {
  .modal-recipe-title {
    margin: 0;
  }
}
.modal-daypicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.modal-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal-actions .button {
  min-width: 200px;
}
@media (width >= 560px) {
  .modal-actions {
    flex-direction: row-reverse;
  }
}

.error-screen {
  width: min(100%, 500px);
  display: grid;
  gap: 24px;
  text-align: center;
  margin: 0 auto;
}
.error-screen__img {
  max-width: min(80%, 300px);
  margin: 0 auto;
}
.error-screen__title {
  font-size: 24px;
  font-weight: 700;
}
.error-screen__desc {
  font-size: 18px;
}

.recipe-card {
  --full-star-color: var(--clr-white);
  padding: 6px;
  background-color: var(--clr-lavender);
  border-radius: 8px;
  border: 1px solid var(--clr-lavender-dark);
  box-shadow: 1px 1px 3px 2px var(--shadow-grey);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: all linear 0.1s;
  cursor: pointer;
}
@media (hover: hover) {
  .recipe-card:hover {
    box-shadow: 1px 1px 6px 4px var(--shadow-grey);
    transform: scale(1.015);
  }
}
.recipe-card.favorite {
  --full-star-color: var(--clr-cream);
}
.recipe-card__img-wrap {
  border: 1px solid var(--clr-lavender-dark);
  flex-shrink: 0;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.recipe-card__btn-wrap {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
}
.recipe-card__btn-wrap .button--plan {
  --button-min-height: 0;
  --button-background-color: var(--clr-beige-01);
  --button-icon-size: 20px;
  gap: 4px;
  padding: 6px 12px;
  outline: 2px solid var(--clr-brown);
  outline-offset: -1px;
}
.recipe-card__btn-wrap .button--plan:hover {
  --button-background-color: var(--clr-beige-02);
}
.recipe-card__add-btn {
  background-color: var(--clr-white);
  font-size: 16px;
  border-radius: 30px;
  padding: 6px 12px;
  font-weight: 600;
  border: 1px solid var(--clr-brown);
  outline: none;
  transition: all linear 0.1s;
  cursor: pointer;
}
@media (hover: hover) {
  .recipe-card__add-btn:hover {
    box-shadow: 0 0 4px 1px var(--clr-white);
  }
}
.recipe-card__fav-btn {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all linear 0.1s;
  position: relative;
  cursor: pointer;
}
@media (hover: hover) {
  .recipe-card__fav-btn:hover {
    transform: scale(1.08);
  }
}
.recipe-card__fav-btn::before, .recipe-card__fav-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  -webkit-mask-size: 40px;
          mask-size: 40px;
  -webkit-mask-position: center;
          mask-position: center;
  height: 40px;
  width: 40px;
}
.recipe-card__fav-btn::before {
  -webkit-mask-image: url("../icons/star-full.svg");
          mask-image: url("../icons/star-full.svg");
  transition: opacity linear 0.2s;
  background-color: var(--full-star-color);
  -webkit-mask-size: 46px;
          mask-size: 46px;
}
.recipe-card__fav-btn::after {
  background-color: var(--clr-brown);
  -webkit-mask-image: url("../icons/star-empty.svg");
          mask-image: url("../icons/star-empty.svg");
}
.recipe-card__content {
  border: 1px solid var(--clr-lavender-dark);
  flex: 1;
  background-color: var(--clr-white);
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
}
.recipe-card__content-half {
  display: grid;
  gap: 12px;
}
.recipe-card__content-half--btm {
  margin: auto 0 0 0;
}
.recipe-card__divider {
  height: 1px;
  width: 100%;
  background-color: var(--clr-lavender-dark);
}
.recipe-card h3 {
  margin: -4px 0 4px 0;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  opacity: 0.85;
}
@media (width >= 560px) {
  .recipe-card h3 {
    margin: 0;
  }
}
.recipe-card h3 {
  font-size: 24px;
}
.recipe-card__cooking-wrap {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.recipe-card__cooking-wrap img {
  flex-shrink: 0;
  width: 16px;
}
.recipe-card__cook-time, .recipe-card__prep-time {
  display: flex;
  gap: 4px;
  line-height: 20px;
  text-wrap: balance;
}
.recipe-card__cook-time::before, .recipe-card__prep-time::before {
  content: "";
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: var(--recipe-time-icon);
}
.recipe-card__cook-time {
  --recipe-time-icon: url("../icons/cooking.svg");
}
.recipe-card__prep-time {
  --recipe-time-icon: url("../icons/clock.svg");
}
.recipe-card__diet-tags, .recipe-card__meal-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.recipe-preview {
  width: min(900px, 100%);
  margin: 0 auto;
  padding: 6px;
  border-radius: 8px;
  background-color: var(--clr-lavender);
  border: 1px solid var(--clr-lavender-dark);
  box-shadow: 1px 1px 3px 2px var(--shadow-grey);
  display: grid;
  gap: 6px;
}
.recipe-preview .image-wrap {
  position: relative;
  border: 1px solid var(--clr-lavender-dark);
  border-radius: 6px;
  overflow: hidden;
}
@media (width >= 560px) {
  .recipe-preview .image-wrap {
    border-radius: 8px;
  }
}
.recipe-preview .image-wrap img {
  width: 100%;
}
.recipe-preview .image-wrap button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 12px 16px;
  font-size: 16px;
}
.recipe-preview .info-block {
  border-top: 1px solid var(--clr-lavender-dark);
  padding-top: 8px;
}
@media (width >= 560px) {
  .recipe-preview .info-block {
    padding-top: 12px;
  }
}
.recipe-preview .info-block:first-child {
  border: none;
  padding: 2px 0 0 0;
}
.recipe-preview .info-block h1 {
  margin: -4px 0 4px 0;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  opacity: 0.85;
}
@media (width >= 560px) {
  .recipe-preview .info-block h1 {
    margin: 0;
  }
}
.recipe-preview .info-block h1 {
  font-size: 36px;
}
.recipe-preview .info-block h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 16px 0;
}
.recipe-preview .info-block h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
.recipe-preview .info-block ul {
  list-style: none;
}
.recipe-preview .info-block ol {
  padding: 0 0 0 16px;
}
.recipe-preview .info-block ol li {
  margin: 8px 0 0 0;
}
.recipe-preview .info-block ol li:first-child {
  margin: 0;
}
.recipe-preview .info-block ol li::marker {
  font-weight: 600;
}
.recipe-preview .info-block li {
  line-height: 1.5;
}
.recipe-preview .content {
  padding: 8px;
  border: 1px solid var(--clr-lavender-dark);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--clr-white);
  display: grid;
  gap: 12px;
}
@media (width >= 560px) {
  .recipe-preview .content {
    padding: 12px;
  }
}
.recipe-preview .content__main-info {
  display: grid;
  gap: 12px;
}
.recipe-preview .content .info__times {
  flex: 2;
  flex-shrink: 0;
  display: flex;
  gap: 24px;
}
.recipe-preview .content .info__cook-time, .recipe-preview .content .info__prep-time {
  display: flex;
  gap: 4px;
  line-height: 20px;
  text-wrap: balance;
}
.recipe-preview .content .info__cook-time::before, .recipe-preview .content .info__prep-time::before {
  content: "";
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: var(--recipe-time-icon);
}
.recipe-preview .content .info__cook-time {
  --recipe-time-icon: url("../icons/cooking.svg");
}
.recipe-preview .content .info__prep-time {
  --recipe-time-icon: url("../icons/clock.svg");
}
.recipe-preview .content .info__tags-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px 24px;
}
@media (width >= 560px) {
  .recipe-preview .content .info__tags-wrap {
    flex-direction: row;
  }
}
.recipe-preview .content .info__diet-tags, .recipe-preview .content .info__meal-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}
.recipe-preview .content .info__servings-wrap {
  display: grid;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--clr-beige-01);
  border: 1px solid var(--clr-beige-02);
  border-radius: 6px;
  box-shadow: 1px 1px 3px 2px var(--shadow-grey);
}
.recipe-preview .content .info__servings-text {
  font-weight: 500;
}
.recipe-preview .content .info__servings-info {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 300;
}
.recipe-preview .content .info__servings-info::before {
  content: "";
  height: 16px;
  width: 16px;
  flex-shrink: 0;
  background-image: url("../icons/info.svg");
  background-size: cover;
}
.recipe-preview .content .info__servings-amount {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.recipe-preview .content .ingredients__wrap {
  display: flex;
  flex-direction: column;
  gap: 12px 32px;
}
@media (width >= 560px) {
  .recipe-preview .content .ingredients__wrap {
    flex-direction: row;
  }
}
.recipe-preview .content .ingredients__part {
  flex: 1;
}
.recipe-preview .content .ingredients__ingr-amount, .recipe-preview .content .ingredients__ingr-unit {
  font-weight: 600;
}
.recipe-preview .content .steps__wrap {
  display: grid;
  gap: 16px;
}

.recipe-search {
  --input-trail-img-url: url("../icons/magnifying-glass.svg");
  background-color: var(--clr-beige-01);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--clr-beige-02);
  box-shadow: 1px 1px 3px 2px var(--shadow-grey);
  overflow: hidden;
}
.recipe-search__inputs {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: flex-end;
  gap: 16px;
}
@media (width >= 560px) {
  .recipe-search__inputs {
    grid-template-columns: auto auto;
  }
  .recipe-search__inputs .search {
    grid-column: 1/-1;
  }
}
@media (width >= 756px) {
  .recipe-search__inputs {
    grid-template-columns: 1fr auto auto;
  }
  .recipe-search__inputs .search {
    grid-column: unset;
  }
}
.recipe-search__categories {
  opacity: 0;
  display: grid;
  grid-template-rows: 0fr;
  transition: all linear 0.2s;
  overflow: hidden;
}
.recipe-search__categories.open {
  grid-template-rows: 1fr;
  opacity: 1;
}
.recipe-search__categories-container {
  min-height: 0;
  display: grid;
  align-items: start;
  gap: 24px;
}
@media (width >= 756px) {
  .recipe-search__categories-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.recipe-search__categories-container .button {
  grid-column: 2/-1;
}
@media (width >= 560px) {
  .recipe-search__categories-container .button {
    justify-self: end;
  }
}
.recipe-search__category {
  margin: 24px 0 0 0;
  display: grid;
  gap: 4px;
}
.recipe-search__category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.recipe-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 16px;
}
@media (width >= 560px) {
  .recipe-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width >= 992px) {
  .recipe-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }
}
@media (width >= 1400px) {
  .recipe-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.recipe-list .error-screen {
  grid-column: 1/-1;
}
@media (width >= 756px) {
  .recipe-list .error-screen {
    margin-block: 32px;
  }
}

.planner {
  --input-min-height: 36px;
  --input-action-btn-size: 28px;
  --input-action-icon-size: 80%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-content: center;
  width: min(100%, 500px);
  margin: 0 auto;
}
@media (width >= 992px) {
  .planner {
    width: 100%;
    margin: 0;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.planner__title {
  margin: -4px 0 4px 0;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  opacity: 0.85;
}
@media (width >= 560px) {
  .planner__title {
    margin: 0;
  }
}
.planner__title {
  font-size: 40px;
  text-align: center;
}
@media (width >= 560px) {
  .planner__button {
    justify-self: end;
  }
}
.planner .day-menu {
  --input-lead-img-url: url("../icons/minus.svg");
  --input-trail-img-url: url("../icons/plus.svg");
  display: grid;
  gap: 4px;
  align-content: start;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--clr-beige-01);
  border: 1px solid var(--clr-beige-02);
  box-shadow: 1px 1px 3px 2px var(--shadow-grey);
}
.planner .day-menu:has(.day-menu__title:only-child) {
  place-content: center;
  padding: 36px;
  color: var(--clr-beige-02);
  font-size: 20px;
  border: 1px var(--clr-beige-02) dashed;
  opacity: 0.7;
}
.planner .day-menu__title {
  font-family: "Coiny", system-ui;
  font-size: 24px;
  margin: -4px 0 4px 0;
  opacity: 0.8;
}
@media (width >= 560px) {
  .planner .day-menu__title {
    margin: 0;
  }
}
.planner .day-menu__entry, .planner .day-menu__header {
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  background-color: var(--clr-white);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  border: 1px solid var(--clr-beige-02);
}
.planner .day-menu__header {
  padding: 6px 6px 6px 46px;
  background-color: rgba(255, 255, 255, 0.5);
}
.planner .day-menu__recipe-title {
  font-weight: 500;
}
.planner .day-menu__servings {
  --input-width: 100px;
  flex-shrink: 0;
  margin: 0 0 0 auto;
}
.planner .day-menu__servings input {
  --input-padding: 4px 36px;
}
.planner .day-menu__servings span {
  font-weight: 600;
}

.weekly-list__recipe-list {
  padding: 16px;
  display: grid;
  align-content: start;
  border-radius: 8px;
  background-color: var(--clr-beige-01);
  border: 1px solid var(--clr-beige-02);
  box-shadow: 1px 1px 3px 2px var(--shadow-grey);
}
.weekly-list__recipe-list h2 {
  margin: -4px 0 4px 0;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  opacity: 0.85;
}
@media (width >= 560px) {
  .weekly-list__recipe-list h2 {
    margin: 0;
  }
}
.weekly-list__recipe-list h2 {
  font-size: 28px;
}
.weekly-list__recipe-list ul {
  list-style: none;
  min-height: 0;
}
.weekly-list__recipe-list li {
  font-size: 18px;
  padding: 12px 0;
  border-bottom: 1px solid var(--clr-beige-02);
}
.weekly-list__recipe-list li:first-child {
  padding-top: 0;
}
.weekly-list__recipe-list li:last-child {
  border: none;
  padding-bottom: 0;
}
.weekly-list__header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.weekly-list__header-wrap button {
  --button-icon-size: 24px;
}
.weekly-list__wrap {
  display: grid;
  overflow: hidden;
  padding-top: 0px;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s linear, padding-top 0.05s linear 0.2s;
}
.weekly-list__wrap.open {
  grid-template-rows: 1fr;
  padding-top: 16px;
  transition: grid-template-rows 0.2s linear 0.05s, padding-top 0.05s linear;
}/*# sourceMappingURL=style.css.map */